name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.0'
      - name: Install Melos
        run: cd app/lego_app && dart pub global activate melos
      - name: Bootstrap Melos
        run: cd app/lego_app && melos bootstrap
      - name: Run analyze
        run: cd app/lego_app && melos exec -- "flutter analyze"
      - name: Run format check
        run: cd app/lego_app && melos exec -- "flutter format --set-exit-if-changed ."
      # Uncomment below to run tests if/when you add them
      # - name: Run tests
      #   run: cd app/lego_app && melos exec -- "flutter test"
